<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Convert My Money</title>
		<link rel="stylesheet" href="/style.css">
		<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
	</head>
	<body>
		<h1>
			<a href="/">
				<img src="/logo.png" alt="Logo Convert My Money" />
			</a>
		</h1>
