<%- include('header') %>

<form class="pure-form pure-form-stacked" method="GET" action="/cotacao">
	<input id="cotacao" name="cotacao" placeholder="Cotação do Dolar" value="<%= cotacao %>" required />
	<input id="quantidade" name="quantidade" placeholder="Quantidade" required />
	<button id="convert" class="pure-button" >Converter em Reais</button>
</form>

<%- include('footer') %>
