<%- include('header') %>
<form method="GET" action="/cotacao">
	<input name="cotacao" placeholder="Cotação do Dolar" value="<%= cotacao %>" >
	<input name="quantidade" placeholder="Quantidade" >
	<button>Converter em Reais</button>
</form>

<%- include('footer') %>
