body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

img {
  width: 450px;
}

input,
button {
  border: 1px solid #9fa19b;
  margin: 8px 0;
  padding: 10px 15px;
  display: block;
}

input {
  font-size: 18px;
  background: #fdfdfd;
}

button {
  text-transform: uppercase;
  background: #d8d8d8;
  width: 100%;
}

strong {
  font-size: 22px;
}
